# Obrigatorio
SONIOX_API_KEY=

# Opcionais
SONIOX_LANGUAGE_HINTS=pt,en
SONIOX_MODEL=stt-rt-v4

# Use apenas se o ydotool nao estiver no PATH ou se o daemon usar outro socket.
# SONIOX_YDOTOOL_COMMAND=/usr/local/bin/ydotool-v1.0.4
# SONIOX_YDOTOOL_SOCKET=/tmp/.ydotool_socket
